<h1>Welcome to RetFlix</h1>
<p>See our movie collection below</p>
<% @movies.each do |listing| %>
<h1><%= listing.title %></h1>
<p><%= listing.description %></p>
<p><%= listing.year_released %></p>
<% end %>